/* login.css */

.root-pane {
    -fx-background-color: linear-gradient(to bottom, #2c3e50, #34495e);
    -fx-padding: 120;
}

.login-box {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
}

.login-logo {
    -fx-fit-width: 100;
    -fx-fit-height: 100;
    -fx-preserve-ratio: true;
    -fx-smooth: true;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.2, 0, 2);
}

.login-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.input-field {
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #ecf0f1;
}

.btn-primary {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
}

.btn-warning {
    -fx-background-color: #e67e22;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
}
